<script setup lang="ts">

</script>

<template>
  <p id="signupText">Ingen bruker? <RouterLink to="/sign-up" id="signup">Registrer deg</RouterLink></p>
</template>

<style scoped>
#signupText {
  font-size: 14px;
  padding: 5px;
}
</style>