<template>
    <div>
        <footer id = "footer" class="text-center text-white" style="width: 100%">
          <div class="text-center p-3">
            © SpareSti 2024
          </div>
        </footer>
    </div>
</template>

<style scoped>
#footer {
  background-color: #003A58;
}
</style>