<script setup lang="ts">

import UserProfileForeignLayout from "@/components/UserProfile/ExternalProfile.vue";
</script>
<!-- The path to a foreign user is /{userId} || /profile/{userId}-->
<template>
<UserProfileForeignLayout></UserProfileForeignLayout>
</template>

<style scoped>

</style>